<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Project Conversation History" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="bg-white shadow-lg">
        <div class="max-w-7xl mx-auto px-5">
          <div class="flex justify-between h-16">
            <div class="flex items-center">
              <span class="text-gray-700"><%= current_user.email %></span>
            </div>
            <div class="flex items-center">
              <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
            </div>
          </div>
        </div>
      </nav>
    <% end %>

    <main class="max-w-7xl mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
